.bg-image {
    background-image: url('/image/light-blue-3d-abstract-wave-pattern.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.toolanim {
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        left: -100px;
    }

    to {
        left: 63px;
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}