@inherits LayoutComponentBase

<div class="min-h-screen">
    <div class="flex">
        <div class="bg-gray-900 text-white">
            <NavMenu />
        </div>
        <div class="w-full z-0">
            <div class="p-4">
                @Body
            </div>
        </div>
    </div>
</div>