@inherits LayoutComponentBase


<div class="min-h-screen">
    <div class="flex">
        <div class="bg-gray-900 text-white">
            <AuthorizeView>
                <Authorized>
                    <NavMenu />
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="w-full z-0">
            <div class="">
                @Body
            </div>
        </div>
    </div>
</div>


@code {

}

